[submodule "scripts/cleen-closed-tickets"]
	path = scripts/cleen-closed-tickets
	url = git@bitbucket.org:DevToolsSupportTeam/cleen-closed-tickets.git
[submodule "scripts/python-marketplace-plugin-checker"]
	path = scripts/python-marketplace-plugin-checker
	url = git@bitbucket.org:DevToolsSupportTeam/python-marketplace-plugin-checker.git
